.loginBanner {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  overflow-y: hidden;
  background-color: var(--black);
  position: relative;
}

.backButton {
  position: absolute;
  top: 32px;
  left: 64px;
  background: transparent;
  padding: 0;
  border: none;
  outline: none;
  color: var(--white);
}

.formContainer {
  flex: 1;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

@media (max-width: 888px) {
  .formContainer {
    padding: 16px;
    width: 100%;
  }
  .backButton {
    top: 16px;
    left: 12px;
  }
}
